h1{
  color: indigo;
}
h2{
color: white;
}
h3{
  color: white;
}
.container{
  width: auto;
}
.container-fluid{
  padding: 20px;
}
body{
  background-color: grey;
}
.border{
  border: 2px solid green;
  background-color: yellowgreen;
}
.box{
  margin-left: 400px;
}
form{
  text-align: center;
}
footer{
  background-color: indigo;
  height: 40px;

}
footer p{
  color: white;
  text-align: center;
  padding: 10px;
}
